.title{
    text-align: center;
    font-size: 3rem;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #73200C 0px 0px 20px, #73200C 0px 0px 30px, #73200C 0px 0px 40px, #73200C 0px 0px 50px, #73200C 0px 0px 75px, -3px -11px 5px rgba(206,89,55,0.53); 

}